# リポジトリ全体のコードオーナーを設定する（マッチする設定がない場合のフォールバック先）
* @octocat

# 特定のファイル種別のみコードオーナーをTeamに設定する
*.txt @example-org/octocat-team

# 特定ディレクトリ配下のコードオーナーを、複数アカウントへ設定する
.github/workflow/ @github @example-org/octocat-team
